.header {
  text-align: center;
}

.logo {
  height: 80px;
  display: block;
  margin: 0 auto;
}

.mainTitle {
  color: #c8003c;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
}
